<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .hover\:translate-y-2:hover {
            transform: translateY(-0.5rem);
        }
        .hover\:shadow-2xl:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        #header {
            width: 100vw;
            position: fixed;
            background: #135200;
            top: 0;
            display: flex;
            align-items: center;
            padding: 1.5rem;
            z-index: 10;
        }
        .text-xl {
            font-size: 1.25rem; /* Adjust as needed */
        }
        .font-bold {
            font-weight: bold;
        }
        .text-white {
            color: white;
        }
        .gap-2rem {
            gap: 2rem;
        }
    </style>
</head>
<body>


<div>
    <div id="header">
        <span class="text-xl text-white font-bold" style="margin-right: auto;">AGROMARKET</span>
        <div style="display: flex; gap: 2rem;" th:if="${sesion==null}">
            <a href="/" class="text-white">Inicio</a>
            <a href="/usuario/login" class="text-white">Iniciar Sesion</a>
            <a href="/usuario/registro" class="text-white">Registrarse</a>
        </div>
        <div style="display: flex; gap: 2rem;" th:unless="${sesion==null}">
            <a href="/" class="text-white">Inicio</a>
            <a href="/productos/create" class="text-white">Registrar Producto</a>
            <a href="/usuario/cerrar" class="text-white">Cerrar Sesion</a>
        </div>

    </div>
</div>
<div className="p-12 bg-gray-300"></div> <br><br><br>
<div class="bg-gray-300 min-h-screen flex items-center justify-center p-6">
    <div class="bg-gray-50 w-full surface-card py-7 px-6 sm:px-8" style="border-radius: 15px; width: fit-content;">
        <p class="block text-900 text-xl font-medium mb-2">CREAR PRODUCTO</p>
        <form th:action="@{/productos/save}" method="post" enctype="multipart/form-data">
            <label for="nombre" class="block text-300 text-m font-medium mb-2">Nombre Producto</label>
            <input
                    id="nombre"
                    name="nombre"
                    type="text"
                    class="w-full mb-5 h-4rem p-2"
                    placeholder="Nombre de ejemplo"
                    required
            />
            <label for="descripcion" class="block text-300 text-m font-medium mb-2">Descripción producto</label>
            <textarea
                    id="descripcion"
                    name="descripcion"
                    type="text"
                    class="w-full mb-5 h-4rem p-2"
                    placeholder="Descripción de ejemplo"
                    required
            ></textarea>
            <label for="precio" class="block text-300 text-m font-medium mb-2">Precio por unidad</label>
            <input
                    id="precio"
                    name="precio"
                    type="number"
                    class="w-full mb-5 h-4rem p-2"
                    placeholder="Precio"
                    required
            />
            <label for="cantidad" class="block text-400 text-xl font-medium mb-2">Cantidad</label>
            <input
                    id="cantidad"
                    name="cantidad"
                    type="number"
                    class="w-full mb-5 h-4rem p-2"
                    placeholder="Cantidad"
                    required
            />
            <label for="unidad" class="block text-400 text-xl font-medium mb-2">Unidad (Kg, g, lb)</label>
            <input
                    id="unidad"
                    name="unidad"
                    type="text"
                    class="w-full mb-5 h-4rem p-2"
                    placeholder="Unidad"
                    required
            />
            <label for="municipio" class="block text-400 text-xl font-medium mb-2">Municipio</label>
            <input
                    id="municipio"
                    name="municipio"
                    type="text"
                    class="w-full mb-5 h-4rem p-2"
                    placeholder="Cantidad"
                    required
            />
            <label for="departamento" class="block text-400 text-xl font-medium mb-2">Departamento</label>
            <input
                    id="departamento"
                    name="departamento"
                    type="text"
                    class="w-full mb-5 h-4rem p-2"
                    placeholder="Cantidad"
                    required
            />
            <label  class="block text-400 text-xl font-medium mb-2" for="img">Imagen</label>
            <input
                    id="img"
                    name="img"
                    type="file"
                    required
            /><br /><br />
            <button
                    class="p-2 bg-green-600 mr-7 rounded-lg text-white"
                    type="submit"
            >Registrar</button>
        </form>
    </div>
</div>



</body>
</html>


